<%- include("partials/header") %>
<div id="paragraphContainer" class="container">
	<h1 id="aboutTitle">More About YWAM</h1>
	<ul class="list-group">
		<li class="list-group-item"><a href="https://www.ywam.org" target="_blank">ywam.org</a></li>
		<li class="list-group-item"><a href="https://www.facebook.com/YouthWithAMission/" target="_blank">Facebook Page</a></li>
		<li class="list-group-item"><a href="https://www.youtube.com/user/ywam" target="_blank">YouTube Channel</a></li>
	</ul>
</div>

<%- include("partials/footer") %>