<%- include("partials/header") %>
<div class="jumbotron">
	<div class="container">
	  <h1 style="text-align: center">YWAM Opportunities Logger</h1>
	  <div style="text-align: center">
	  <a href="/opportunities" class="btn btn-lg btn-primary">View My DTS Opportunities</a>
	</div>
   </div>
</div>
<div id="paragraphContainer" class="container">
	<h1>Purpose of App</h1>
	<p>The purpose of this app is to a have a good representation of the data that I find and input about the possible DTS's that I wanna go to. Also, I just made it because coding is fun. :D<em>-TIM</em></p>
</div>

<%- include("partials/footer") %>